.loadmore {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #627c8f;
    font-size: 0.3733rem;
}

.isloading {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isloading > span {
    color: #627c8f;
    font-size: 0.3733rem;
    line-height: 1.2rem;
}

.notmore {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #627c8f;
    font-size: 0.3733rem;
}


.isloading-circle {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #627c8f;
    margin-left: 3px;
}
@keyframes scalablethree {
    0% {
        transform: scale(.4,.4);
    }
    25% {
        transform: scale(.7,.7);
    }
    50% {
        transform: scale(1,1);
    }
    75% {
        transform: scale(.7,.7);
    }
    100% {
        transform: scale(.4, .4);
    }
}

@keyframes scalabletwo {
    0% {
        transform: scale(.7,.7);
    }
    25% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(.7,.7);
    }
    75% {
        transform: scale(.4,.4);
    }
    100% {
        transform: scale(.7, .7);
    }
}

@keyframes scalableone {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(.7,.7);
    }
    50% {
        transform: scale(.4,.4);
    }
    75% {
        transform: scale(.7,.7);
    }
    100% {
        transform: scale(1, 1);
    }
}
.isloading-item1 {
    -webkit-animation: scalableone .7s infinite;
}
.isloading-item2 {
    -webkit-animation: scalabletwo .7s infinite;
}
.isloading-item3 {
    -webkit-animation: scalablethree .7s infinite;
}
